$headerBlue: #212C48;
$darkBlue: #152c53;
$lightBlue: #6587a7;


@mixin font($font:"") {
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;;
	
	@if $font == "" {
		font-style: normal;
		font-weight: 400;
		
	} @else if $font == "italic" {
		font-style: italic;
		font-weight: 400;
	
	} @else if $font == "bold" {
		font-style: normal;
		font-weight: 700;
	
	} @else if $font == "bolditalic" {
		font-style: italic;
		font-weight: 700;		
	}
}		


$responsive: true;

@mixin breakpoint($breakpoint) {
  @if ($responsive) {
	  $wide: "only screen and (min-width: 1400px)";
    $desktop: "only screen and (max-width: 1140px)";
    $narrow: "only screen and (max-width: 960px)";
    $narrower: "only screen and (max-width:760px)";
    $mobile: "only screen and (max-width: 700px)";
  
		@if $breakpoint == wide {
      @media #{$wide} { @content; }
    }
    @else if $breakpoint == desktop {
      @media #{$desktop} { @content; }
    }
    @else if $breakpoint == narrow {
      @media #{$narrow}  { @content; }
    }
    @else if $breakpoint == narrower {
      @media #{$narrower}  { @content; }
    }
    @else if $breakpoint == mobile {
      @media #{$mobile}  { @content; }
    }
    // custom breakpoint - pass pixel width for max-width
    @else {
	    @media only screen and (max-width: #{$breakpoint}px) { @content; }
    }
  }
}


.group:after {
  content: "";
  display: block;
  clear: both;
}

[class^="print"] {
	display: none;
}

// videos page
.article.videos {
	text-align: center;
	
	h1 {
		text-align: left;
	}
}

.videoMain {
	width: 100%;
	display: block;
	
	iframe {
		width: 80%;
		height: 420px;
		margin:0 0 35px 0;
		box-shadow: -2px 2px 4px rgba(#000, 0.4);
	}
}

.videoThumb {
	width: 28%;
	height: auto;
	margin:0 2%;
	cursor: pointer;
	display: inline-block;
	
	
	.videoImage {
		display: block;
		box-shadow: -2px 2px 4px rgba(#000, 0.4);
		position: relative;
		
		img {
			max-width: 100%;
			display: block;
		}
		
		&:before {
			display: block;
			content:'';
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			background:rgba(#000, 0.1);
			transition:.2s all ease-in-out;
		}
		
		&:after {
			display: block;
			content:'';
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			background:url('../../includes/img/icon-play.svg') no-repeat;
			background-position: center center;
			background-size: 25%;
			transition:.2s all ease-in-out;
			opacity: 0;
		}
		
		&:hover{
			&:before {
				background:rgba(#000, 0.25);
			}
			
			&:after {
				opacity: 1;
			}
		}
		
		&.selected {
			.videoImage {
				&:before {
					background:rgba(#000, 0.25);
				}
				
				&:after {
					opacity: 1;
				}
			}
		}
	} // .videoImage
	
	p {
		color:$darkBlue;
		font-weight: bold;
		text-align: left;
	}
} // .videoThumb


// "big picture" blog
#banner-container.blog {
	height: 400px;
	width: 100%;
	display: block;
	background:url('../images/header-bg-2.jpg') no-repeat;
	background-size: cover;
	background-position: center bottom;
	
	@include breakpoint(narrower) {
		height: 360px;
	}
	
	@include breakpoint(mobile) {
		height: 400px;
	}
	
	.center {
		width: 1100px;
		height: 100%;
		display: block;
		margin:0 auto;
		
		@include breakpoint(desktop) {
			width: 100%;
			padding:0 1.5%;
			box-sizing: border-box;
		}
		
		@include breakpoint(mobile) {
			padding:0 2%;
		}
	} // .center
	
	.intro {
		padding:38px 0 12px 0;
		position: relative;
		border-bottom:2px solid #fff;
		width: 96%;
		margin:0 2%;
		
		h1 {
			width: 45%;
			display:inline-block;
			margin:0;
			text-align: left;
			color:#fff;
			text-transform: uppercase;
			font-size: 2em;
			line-height: 1em;
			@include font(bold);
			
			@include breakpoint(desktop) {
				width: 45%;
			}
						
			@include breakpoint(narrower) {
				font-size: 1.6em;
				width: 40%;
			}
			
			@include breakpoint(mobile) {
				width: 100%;
				font-size: 1.8em;
				margin-bottom:5px;
			}
		}
		
		p {
			float: right;
			width: 55%;
			color:#fff;
			text-align: right;
			font-size: .95em;
			line-height: 1.25em;
			margin: 0;
			@include font();
			
			@include breakpoint(desktop) {
				width: 55%;
			}
			
			@include breakpoint(narrower) {
				width: 60%;
				font-size: .85em;
			}
			
			@include breakpoint(mobile) {
				width: 100%;
				text-align: left;
				display: block;
				font-size: .95em;
			}
		}
		
		@include breakpoint(mobile) {
			padding-bottom:10px;
		}
	} // .intro
	
	.categories {
		text-align: center;
		display: block;
		width: 100%;
		height: auto;
		margin:25px 0 0 0;
		
		@include breakpoint(mobile) {
			padding:0 2%;
			box-sizing: border-box;
		}
		
		a {
			width: 29%;
			height: 240px;
			margin:0 2%;
			padding:4%;
			box-sizing: border-box;
			background:rgba(#fff, 0.15);
			display: inline-block;
			text-align: center;
			text-decoration: none;
			color:#fff;
			text-transform: uppercase;
			position: relative;
			transition:.2s all ease-in-out;
			border-radius: 2px;
			
			@include breakpoint(narrower) {
				height: 210px;
			}
			
			svg {
				max-height: 40%;
				padding:8% 0 0 0;
				transition:.2s all ease-in-out;
				
				* {
					transition:.2s all ease-in-out;
				}
			}
			
			span {
				display: block;
				width: 100%;
				padding:20px 15% 0 15%;
				box-sizing: border-box;
				font-size: 1.5em;
				position: absolute;
				top:50%;
				left:0;
				line-height: 1.2em;
				@include font(bold);
				
				@include breakpoint(narrower) {
					top:52%;
					font-size: 1.3em;
				}
			}
			
			&:hover {
				background:rgba(#fff, 0.6);
				color:$headerBlue;
				
				svg {
					* {
						fill:$headerBlue;
					}
				}	
			}
			
			@include breakpoint(narrow) {
				width: 28%;
				height: 230px;
			}
						
			@include breakpoint(mobile) {
				$linkHeightMobile: 60px;
				
				width: 96%;
				padding:0;
				height: $linkHeightMobile !important;
				margin:0 0 14px 0;
				text-align: left;
				background:rgba(#fff, .7);
				color:$headerBlue;
				font-size: .8em;
				
				&:hover {
					background:rgba(#fff, .7);
					color: $headerBlue;
				}
				
				svg {
					display: inline-block;
					width: auto;
					max-width: 18%;
					float: left;
					padding:0;
					margin:8px 8px 0 5px;
					max-height: 76%;
					
					* {
						fill:$headerBlue;
					}
				}
				
				span {
					font-size: 1.3em;
					position: relative;
					top:auto;
					left:auto;
					padding:0;
					height: $linkHeightMobile;
					line-height: $linkHeightMobile + 2;
				}
			} // breakpoint 700
		} // a
		
		// selected state on archive page
		&#investing a.highlight-investing,
		&#insights a.highlight-insights,
		&#wealth-strategies a.highlight-wealth-strategies {
			background:#fff;
			color:$headerBlue;
			
			svg {
				* {
					fill:$headerBlue;
				}
			}
		}
	} // .categories
	
	.all {
		display: none;
	}
	
	// extra space under links for "all articles" button
	&.archive {
		
		@include breakpoint(narrow) {
			height: 410px;
		}
			
		@include breakpoint(mobile) {
			height: 440px;
		}
		
		.categories a {
			height: 210px;
			
			@include breakpoint(narrow) {
				height: 200px;
			}
		}
		
		.all {
			display: block;
			text-align: center;
			margin:26px 0 0 0;
			
			a {
				background:rgba(#fff, 0.3);
				padding:8px 10px;
				text-decoration: none;
				@include font();
				border-radius: 2px;
				color:rgba(#fff, .5);
				font-size: .8em;
				transition:.2s all ease-in-out;
				
				&:hover {
					background:rgba(#fff, 0.9);
					color:$headerBlue;
				}
			}
			
			@include breakpoint(mobile) {
				text-align: left;
				padding-left:4%;
				margin-top:12px;
				
				a, a:hover {
					background:rgba(#fff, 0.75);
					color:$headerBlue;
				}
			}
		} // .all
	}
} // #banner-container.blog


.posts {
	width: 100%;
	display: block;
	padding:40px 0;
	
	.post-item {
		display: block;
		width: 100%;
		margin:0 0 60px 0;
		
		@include breakpoint(mobile) {
			width: 94%;
			margin-left:3%;
		}
		
		.image {
			float: left;
			width: 40%;
			height: 280px;
			background:blue;
			margin:0 2.5% 0 0;
			box-shadow: -2px 2px 4px rgba(#000, 0.4);
			background-position: center center !important;
			background-size: cover !important;
			background-repeat: no-repeat !important;
			
			@include breakpoint(mobile) {
				width: 100%;
				margin:0 0 10px 0 !important;
			}
			
			a {
				display: block;
				height: 100%;
				width: 100%;
				background:transparent;
				transition:.2s all ease-in-out;
				
				&:hover {
					background:rgba(#fff, 0.2);
				}
				
				@include breakpoint(mobile) {
					&:hover {
						background:none;
					}
				}
			}
			
			&.video {
				a {
					background:rgba(#000, 0.3);
					position: relative;
					
					&:after {
						content:'';
						display: block;
						position: absolute;
						top:0;
						left:0;
						width: 100%;
						height: 100%;
						background:url('../images/play.svg') no-repeat;
						background-position: center center;
						background-size: 20%;
						z-index: 1000;
						opacity: .75;
					}
					
					&:hover {
						background:rgba(#000, 0.15);
						
						&:after {
							opacity: 1;
						}
					}
				}
			}
		} // .image
		
		.text {
			padding-top:20px;
			
			h2 {
				display: block;
				font-size: 1em;
				margin:0;
				
				a {
					color:$darkBlue;
					text-decoration: none;
					text-transform: uppercase;
					font-size: 1.3em;
					line-height: 1.2em;
					@include font(bold);
					transition:.2s all ease-in-out;
										
					&:hover {
						color:darken($darkBlue, 5%);
					}
				}
			}
			
			.subtext {
				display: block;
				color:$lightBlue;
				@include font();
				font-size: .9em;
				margin:0 0 10px 0;
				
				a {
					color:$lightBlue;
					text-decoration: none;
					@include font(bold);
				}
			}
						
			.excerpt {
				display: block;
				
				p { 
					color:$darkBlue;
					font-size: 1em;
					line-height: 1.4em;
					margin-bottom:15px;
					@include font();
				}
				
				a.readMore {
					background: $darkBlue;
					color:#fff;
					padding:6px 10px;
					text-decoration: none;
					@include font(bold);
					transition:.2s all ease-in-out;
					margin:5px 0 0 0;
					display: inline-block;
					font-size: .9em;
					
					&:hover {
						background: $lightBlue;
					}
					
					@include breakpoint(mobile) {
						padding:14px 16px;
					}
				}
			}
		} // .text
		
		// offset posts
		&:nth-child(even) {
			.image {
				float: right;
				margin:0 0 0 2.5%;
			}
		}
	} // .post-item
} // .posts


// pagination
.pagination {
	text-align: center;
	display: block;
	height: 50px;
	width: 50%;
	margin:0 auto;
	
	@include breakpoint(mobile) {
		width: 90%;
	}
	
	span:first-child {
		width: 100%;
		display: block;
		border-bottom:1px solid $lightBlue;
		margin:0 0 8px 0;
		padding:0 0 8px 0;
		@include font(italic);
		font-size: .9em;
	}
	
	a, span.current {
		display: inline-block;
		width: 28px;
		height: 28px;
		margin:0 4px;
		text-align: center;
		line-height: 28px;
		background:$lightBlue;
		color:#fff;
		text-decoration: none;
		transition:.2s all ease-in-out;
		overflow: hidden;
		@include font();
	}
	
	span.current {
		background:$darkBlue;
	}
	
	a:hover {
		background:darken($lightBlue, 10%);
		text-decoration: none;
	}
	
	a.pagePrev {
		text-indent: -9999px;
		position: relative;
		
		&:before {
			display: block;
			content:'';
			width: 80%;
			height: 80%;
			background:url('../images/chevron-left.svg') no-repeat;
			position: absolute;
			top:10%;
			left:10%;
		}
	}
	
	a.pageNext {
		text-indent: 9999px;
		position: relative;
		
		&:before {
			display: block;
			content:'';
			width: 80%;
			height: 80%;
			background:url('../images/chevron-right.svg') no-repeat;
			position: absolute;
			top:10%;
			left:10%;
		}
	}
}



// single post
$leftColumn: 74%;
$rightColumn: 100 - $leftColumn;


#banner-container.blog.single {
	height: 160px;
	width: 100%;
	display: block;
	background:url('../images/header-bg-2.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: right;
	
	.center {
		text-align: left;
		overflow: hidden;
	}
	
		h1 {
		color:#fff;
		font-size: 1.6em;
		border-bottom:1px solid #fff;
		width: 40%;
		display: inline-block;
		margin:40px 0 10px ($leftColumn + 2);
		padding:10px 0;
		text-align: left;
		@include font(bold);
	}
	
	a {
		color:#fff;
		text-decoration: none;
		margin:0 0 0 ($leftColumn + 2);
		padding:0 0 0 20px;
		position: relative;
		@include font();
		font-size: .9em;
		
		&:before {
			content:'';
			background:url('../images/chevron-left.svg') no-repeat;
			background-size: contain;
			background-position: center center;
			height: 100%;
			width: 18px;
			position: absolute;
			top:1px;
			left:0;
		}
	}
	
	h1,a {
		@include breakpoint(narrow) {
			margin-left:$leftColumn - 3;
		}
		
		@include breakpoint(narrower) {
			margin-left:$leftColumn - 5;
		}
		
		@include breakpoint(mobile) {
			margin-left:3%;
			width: 94%;
		}
	}
}

.post-single {
	width: $leftColumn;
	float: left;
	
	@include breakpoint(narrow) {
		width: $leftColumn - 5;
	}
	
	@include breakpoint(narrower) {
		width: $leftColumn - 8;
	}
	
	@include breakpoint(mobile) {
		width: 100%;
	}
	
	.featuredImage {
		height: 380px;
		width: 100%;
		display: block;
		margin:-130px 0 15px 0;
		position: relative;
		z-index: 400;
		background-repeat: no-repeat !important;
		background-size: cover !important;
		background-position: center center !important;
		border:5px solid #fff;
		box-sizing: border-box;
		box-shadow: -2px 3px 5px rgba(#000, .25);
		z-index: 1;
		
		@include breakpoint(mobile) {
			margin:15px 0;
			height: 200px;
		}
		
		&.video {
			cursor: pointer;
			transition:.2s all ease-in-out;
			
			&:before {
				content: '';
				display: block;
				position: absolute;
				top:0;
				left:0;
				background:rgba(#000, 0.65);
				height: 100%;
				width: 100%;
				transition:.2s all ease-in-out;
			}
			
			&:after {
				content:'';
				display: block;
				position: absolute;
				top: 0;
				left:0;
				z-index: 1000;
				height: 100%;
				width: 100%;
				background:url('../images/play.svg') no-repeat;
				background-size: 12.5%;
				background-position: center center;
				opacity: 0.65;
				transition:.2s all ease-in-out;
			}
			
			&:hover {
				&:before {
					background:rgba(#000, 0.35);
				}
				
				&:after {
					opacity: 1;
				}
			} // hover
			
			&.active {
				background:#111 !important;
				
				&:before, &:after {
					display: none;
				}
			}
			
			iframe {
				width: 100%;
				height: 100%;
			}
		} // .featuredImage (video)
	}
	
	h1 {
		font-size: 1.9em;
		line-height: 1.05em;
		@include font(bold);
		margin:20px 0 3px 0;
	}
	
	p.date {
		color:$lightBlue;
		font-size: 1em;
		margin:0;
		@include font();
		font-size: .9em;
		
		a {
			@include font(bold);
			color:$lightBlue;
		}
	}
	
	p {
		margin-bottom:15px;
		line-height: 1.5em;
		font-size: 1em;
		@include font();
		
		a {
			@include font(bold);
		}
		
		b, strong {
			@include font(bold);
			
			em, i {
				font-style: italic !important;
			}
		}
		
		em, i {
			@include font(italic);
		}
	}	
}

.tags {
	width: 100%;
	display: block;
	margin:40px 0 0 0;
	
	h3 {
		@include font(bold);
		margin:0;
		font-size: 1em;
		line-height: 1em;
	}
	
	a {
		@include font();
		font-size: .9em;
	}
}

.blogSidebar {
	float: right;
	margin:3% 0 0 0;
	width: $rightColumn - 3;
	
	@include breakpoint(narrow) {
		width: $rightColumn + 2;
	}
	
	@include breakpoint(narrower) {
		width: $rightColumn + 5;
	}
	
	@include breakpoint(mobile) {
		width: 100%;
	}
	
	
	h2.share {
		@include font(bold);
		font-size: 1em;
		color:$darkBlue;
		margin:15px 0 0 0;
		display: block;
		float: left;
	}
	
	.addthis_sharing_toolbox {
		display: block;
		float: left;
		width: 100%;
	}
	
	.printBtn {
		width: 32px;
		height: 32px;
		display: inline-block;
		background:#999;
		padding:5px;
		box-sizing: border-box;
		
		&:hover {
			background:lighten(#999, 10%);
		}
		
		&:focus {
			outline: none;
			border: none;
		}
		
		img {
			max-width: 100%;
		}
	}
} // .blogSidebar

.related {
	background:#fff;
	padding:15px 10px;
	box-sizing: border-box;
	margin:15px 0;
	
	h2 {
		color:$darkBlue;
		@include font(bold);
		font-size: 1em;
		margin:0;
		padding:0;
		border-bottom:1px solid $darkBlue;
		line-height: 1.4em;
	}
	
	ul {
		list-style: none;
		padding:0;
		margin:0;
		
		li {
			list-style: none;
			margin:0;
			padding:0;
			display: block;
		}
		
		a {
			color:$darkBlue;
			text-decoration: none;
			@include font();
			font-size: .9em;
			line-height: 1.2em;
			width: 100%;
			padding:5px 10px;
			box-sizing: border-box;
			display: block;
			transition:.2s all ease-in-out;
			
			&:hover {
				background:lighten($lightBlue, 40%);
			}
		}
	}
}

.authorInfo {
	float: right;
	width: 100%;
	background:$darkBlue;
	padding:10px;
	box-sizing: border-box;
	box-shadow: -2px 2px 3px rgba(#000, 0.25);
	
	.thumbnail {
		width: 100%;
		height: auto;
		
		img {
			max-width: 100%;
			display: block;
		}
	}
	
	.contactInfo {
		display: block;
		margin:0 0 5px 0;
		
		.name {
			@include font(bold);
			font-size: 1.3em;
			margin:10px 0 5px 0;
			color:#fff;
		}
		
		a {
			$bioLink: 20px;
			
			@include font(bold);
			text-decoration: none;
			font-size: .9em;
			margin:0 0 5px 0;
			line-height: 1em;
			position: relative;
			padding:0 0 0 ($bioLink + 10);
			width: 100%;
			height: $bioLink;
			line-height: $bioLink;
			display: block;
			color:#fff;
			
			&:before {
				content:'';
				height: $bioLink;
				width: $bioLink - 6;
				background:blue;
				position: absolute;
				top:0;
				left:6px;
			}
			
			&.bio:before {
				background:url('../images/file.svg') no-repeat;
				background-position: center center;
				background-size: contain;
			}
			
			&.email:before {
				background:url('../images/envelope.svg') no-repeat;
				background-position: center center;
				background-size: contain;
			}
		}
	}
}



@media print {
	body {
		background:#fff;
	}
	
	.printLogo {
		display: block;
	
		
		.border {
			height: 140px;
			width: 100%;
			display: block;
			margin:0 0 10px 0;
			border-bottom:3px solid $darkBlue;
			position: relative;
			background: #fff;
			float: left;
			
			h2 {
				position: absolute;
				bottom:-1px;
				right:0;
				@include font(bold);
				font-size: 1.2em;
				text-transform: uppercase;
			}
			
			img {
				max-width: 120px;
				margin:0 0 0 1% !important;
				display: block;
				position: absolute;
				bottom:0;
				right:0;
			}
		}
	}
	
	.printAuthor {
		display: block;
		font-style: italic !important;
		font-size: 14px !important;
		margin-top:1px;
	}
	
	.wrapper {
		margin:0 1% !important;
		width: 98%;
	}
	
	nav#main-nav,
	.header-container,
	.footer-container,
	.featuredImage,
	.tags,
	.blogSidebar,
	p.date,
	iframe {
		display: none !important;
	}
	
	#banner-container.blog {
		display: none !important;
	}
	
	.post-single {
		width: 100%;
	}
	
	/*
	.blogSidebar {
		width: 100%;
		float: left;
	}

	.authorInfo {
		background:#fff;
		box-shadow: none;
		float: left;
		width: 100%;
		
		& * {
			color:$darkBlue !important;
		}
		
		a.bio {
			display: none !important;
		}
		
		
		a.email {
			padding-left:0;
			position: relative;
			font-size: 1px;
			line-height: 3em;
			color:#fff;
			
			&:before {
				display: none;	
			}
			
			&:after {
				content:attr(data-email);
				width: 100%;
				clear:both;
				display: block;
				word-break: break-all;
				font-size: 12px;
				font-weight: 300;
				color:$darkBlue !important;
			}
		}
		
		.postAuthor {
			display: inline-block;
			float: left;
			width: auto;
			max-width: 40%;
			
			&:first-child {
				margin-right:4%;
			}
		}
	}
	*/
	
	h2.share,
	.addthis_sharing_toolbox {
		display: none !important;
	}
}
