.group:after {
	content: "";
	display: block;
	clear: both;
}

[class^="print"] {
	display: none;
}

.article.videos {
	text-align: center;
}

.article.videos h1 {
	text-align: left;
}

.videoMain {
	width: 100%;
	display: block;
}

.videoMain iframe {
	width: 80%;
	height: 420px;
	margin: 0 0 35px 0;
	box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.4);
}

.videoThumb {
	width: 28%;
	height: auto;
	margin: 0 2%;
	cursor: pointer;
	display: inline-block;
}

.videoThumb .videoImage {
	display: block;
	box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.4);
	position: relative;
}

.videoThumb .videoImage img {
	max-width: 100%;
	display: block;
}

.videoThumb .videoImage:before {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	-webkit-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
}

.videoThumb .videoImage:after {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../../includes/img/icon-play.svg") no-repeat;
	background-position: center center;
	background-size: 25%;
	-webkit-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
	opacity: 0;
}

.videoThumb .videoImage:hover:before {
	background: rgba(0, 0, 0, 0.25);
}

.videoThumb .videoImage:hover:after {
	opacity: 1;
}

.videoThumb .videoImage.selected .videoImage:before {
	background: rgba(0, 0, 0, 0.25);
}

.videoThumb .videoImage.selected .videoImage:after {
	opacity: 1;
}

.videoThumb p {
	color: #152c53;
	font-weight: bold;
	text-align: left;
}

#banner-container.blog {
	height: 400px;
	width: 100%;
	display: block;
	background: url("../images/header-bg-2.jpg") no-repeat;
	background-size: cover;
	background-position: center bottom;
}

#banner-container.blog .center {
	width: 1100px;
	height: 100%;
	display: block;
	margin: 0 auto;
}

#banner-container.blog .intro {
	padding: 38px 0 12px 0;
	position: relative;
	border-bottom: 2px solid #fff;
	width: 96%;
	margin: 0 2%;
}

#banner-container.blog .intro h1 {
	width: 45%;
	display: inline-block;
	margin: 0;
	text-align: left;
	color: #fff;
	text-transform: uppercase;
	font-size: 2em;
	line-height: 1em;
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
}

#banner-container.blog .intro p {
	float: right;
	width: 55%;
	color: #fff;
	text-align: right;
	font-size: .95em;
	line-height: 1.25em;
	margin: 0;
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}

#banner-container.blog .categories {
	text-align: center;
	display: block;
	width: 100%;
	height: auto;
	margin: 25px 0 0 0;
}

#banner-container.blog .categories a {
	width: 29%;
	height: 240px;
	margin: 0 2%;
	padding: 4%;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.15);
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	-webkit-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
	border-radius: 2px;
}

#banner-container.blog .categories a svg {
	max-height: 40%;
	padding: 8% 0 0 0;
	-webkit-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
}

#banner-container.blog .categories a svg * {
	-webkit-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
}

#banner-container.blog .categories a span {
	display: block;
	width: 100%;
	padding: 20px 15% 0 15%;
	box-sizing: border-box;
	font-size: 1.5em;
	position: absolute;
	top: 50%;
	left: 0;
	line-height: 1.2em;
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
}

#banner-container.blog .categories a:hover {
	background: rgba(255, 255, 255, 0.6);
	color: #212C48;
}

#banner-container.blog .categories a:hover svg * {
	fill: #212C48;
}

#banner-container.blog .categories#investing a.highlight-investing,
#banner-container.blog .categories#insights a.highlight-insights,
#banner-container.blog .categories#wealth-strategies a.highlight-wealth-strategies {
	background: #fff;
	color: #212C48;
}

#banner-container.blog .categories#investing a.highlight-investing svg *,
#banner-container.blog .categories#insights a.highlight-insights svg *,
#banner-container.blog .categories#wealth-strategies a.highlight-wealth-strategies svg * {
	fill: #212C48;
}

#banner-container.blog .all {
	display: none;
}

#banner-container.blog.archive .categories a {
	height: 210px;
}

#banner-container.blog.archive .all {
	display: block;
	text-align: center;
	margin: 26px 0 0 0;
}

#banner-container.blog.archive .all a {
	background: rgba(255, 255, 255, 0.3);
	padding: 8px 10px;
	text-decoration: none;
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	border-radius: 2px;
	color: rgba(255, 255, 255, 0.5);
	font-size: .8em;
	-webkit-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
}

#banner-container.blog.archive .all a:hover {
	background: rgba(255, 255, 255, 0.9);
	color: #212C48;
}

.posts {
	width: 100%;
	display: block;
	padding: 40px 0;
}

.posts .post-item {
	display: block;
	width: 100%;
	margin: 0 0 60px 0;
}

.posts .post-item .image {
	float: left;
	width: 40%;
	height: 280px;
	background: blue;
	margin: 0 2.5% 0 0;
	box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.4);
	background-position: center center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

.posts .post-item .image a {
	display: block;
	height: 100%;
	width: 100%;
	background: transparent;
	-webkit-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
}

.posts .post-item .image a:hover {
	background: rgba(255, 255, 255, 0.2);
}

.posts .post-item .image.video a {
	background: rgba(0, 0, 0, 0.3);
	position: relative;
}

.posts .post-item .image.video a:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../images/play.svg") no-repeat;
	background-position: center center;
	background-size: 20%;
	z-index: 1000;
	opacity: .75;
}

.posts .post-item .image.video a:hover {
	background: rgba(0, 0, 0, 0.15);
}

.posts .post-item .image.video a:hover:after {
	opacity: 1;
}

.posts .post-item .text {
	padding-top: 20px;
}

.posts .post-item .text h2 {
	display: block;
	font-size: 1em;
	margin: 0;
}

.posts .post-item .text h2 a {
	color: #152c53;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.3em;
	line-height: 1.2em;
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	-webkit-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
}

.posts .post-item .text h2 a:hover {
	color: #10213f;
}

.posts .post-item .text .subtext {
	display: block;
	color: #6587a7;
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: .9em;
	margin: 0 0 10px 0;
}

.posts .post-item .text .subtext a {
	color: #6587a7;
	text-decoration: none;
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
}

.posts .post-item .text .excerpt {
	display: block;
}

.posts .post-item .text .excerpt p {
	color: #152c53;
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 15px;
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}

.posts .post-item .text .excerpt a.readMore {
	background: #152c53;
	color: #fff;
	padding: 6px 10px;
	text-decoration: none;
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	-webkit-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
	margin: 5px 0 0 0;
	display: inline-block;
	font-size: .9em;
}

.posts .post-item .text .excerpt a.readMore:hover {
	background: #6587a7;
}

.posts .post-item:nth-child(even) .image {
	float: right;
	margin: 0 0 0 2.5%;
}

.pagination {
	text-align: center;
	display: block;
	height: 50px;
	width: 50%;
	margin: 0 auto;
}

.pagination span:first-child {
	width: 100%;
	display: block;
	border-bottom: 1px solid #6587a7;
	margin: 0 0 8px 0;
	padding: 0 0 8px 0;
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: italic;
	font-weight: 400;
	font-size: .9em;
}

.pagination a,
.pagination span.current {
	display: inline-block;
	width: 28px;
	height: 28px;
	margin: 0 4px;
	text-align: center;
	line-height: 28px;
	background: #6587a7;
	color: #fff;
	text-decoration: none;
	-webkit-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
	overflow: hidden;
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}

.pagination span.current {
	background: #152c53;
}

.pagination a:hover {
	background: #4f6d8a;
	text-decoration: none;
}

.pagination a.pagePrev {
	text-indent: -9999px;
	position: relative;
}

.pagination a.pagePrev:before {
	display: block;
	content: '';
	width: 80%;
	height: 80%;
	background: url("../images/chevron-left.svg") no-repeat;
	position: absolute;
	top: 10%;
	left: 10%;
}

.pagination a.pageNext {
	text-indent: 9999px;
	position: relative;
}

.pagination a.pageNext:before {
	display: block;
	content: '';
	width: 80%;
	height: 80%;
	background: url("../images/chevron-right.svg") no-repeat;
	position: absolute;
	top: 10%;
	left: 10%;
}

#banner-container.blog.single {
	height: 160px;
	width: 100%;
	display: block;
	background: url("../images/header-bg-2.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: right;
}

#banner-container.blog.single .center {
	text-align: left;
	overflow: hidden;
}

#banner-container.blog.single h1 {
	color: #fff;
	font-size: 1.6em;
	border-bottom: 1px solid #fff;
	width: 40%;
	display: inline-block;
	margin: 40px 0 10px 76%;
	padding: 10px 0;
	text-align: left;
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
}

#banner-container.blog.single a {
	color: #fff;
	text-decoration: none;
	margin: 0 0 0 76%;
	padding: 0 0 0 20px;
	position: relative;
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: .9em;
}

#banner-container.blog.single a:before {
	content: '';
	background: url("../images/chevron-left.svg") no-repeat;
	background-size: contain;
	background-position: center center;
	height: 100%;
	width: 18px;
	position: absolute;
	top: 1px;
	left: 0;
}

.post-single {
	width: 74%;
	float: left;
}

.post-single .featuredImage {
	height: 380px;
	width: 100%;
	display: block;
	margin: -130px 0 15px 0;
	position: relative;
	z-index: 400;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
	border: 5px solid #fff;
	box-sizing: border-box;
	box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.25);
	z-index: 1;
}

.post-single .featuredImage.video {
	cursor: pointer;
	-webkit-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
}

.post-single .featuredImage.video:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.65);
	height: 100%;
	width: 100%;
	-webkit-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
}

.post-single .featuredImage.video:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	height: 100%;
	width: 100%;
	background: url("../images/play.svg") no-repeat;
	background-size: 12.5%;
	background-position: center center;
	opacity: 0.65;
	-webkit-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
}

.post-single .featuredImage.video:hover:before {
	background: rgba(0, 0, 0, 0.35);
}

.post-single .featuredImage.video:hover:after {
	opacity: 1;
}

.post-single .featuredImage.video.active {
	background: #111 !important;
}

.post-single .featuredImage.video.active:before,
.post-single .featuredImage.video.active:after {
	display: none;
}

.post-single .featuredImage.video iframe {
	width: 100%;
	height: 100%;
}

.post-single h1 {
	font-size: 1.9em;
	line-height: 1.05em;
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	margin: 20px 0 3px 0;
}

.post-single p.date {
	color: #6587a7;
	font-size: 1em;
	margin: 0;
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: .9em;
}

.post-single p.date a {
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	color: #6587a7;
}

.post-single p {
	margin-bottom: 15px;
	line-height: 1.5em;
	font-size: 1em;
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}

.post-single p a {
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
}

.post-single p b,
.post-single p strong {
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
}

.post-single p b em,
.post-single p b i,
.post-single p strong em,
.post-single p strong i {
	font-style: italic !important;
}

.post-single p em,
.post-single p i {
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: italic;
	font-weight: 400;
}

.tags {
	width: 100%;
	display: block;
	margin: 40px 0 0 0;
}

.tags h3 {
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	margin: 0;
	font-size: 1em;
	line-height: 1em;
}

.tags a {
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: .9em;
}

.blogSidebar {
	float: right;
	margin: 3% 0 0 0;
	width: 23%;
}

.blogSidebar h2.share {
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 1em;
	color: #152c53;
	margin: 15px 0 0 0;
	display: block;
	float: left;
}

.blogSidebar .addthis_sharing_toolbox {
	display: block;
	float: left;
	width: 100%;
}

.blogSidebar .printBtn {
	width: 32px;
	height: 32px;
	display: inline-block;
	background: #999;
	padding: 5px;
	box-sizing: border-box;
}

.blogSidebar .printBtn:hover {
	background: #b3b3b3;
}

.blogSidebar .printBtn:focus {
	outline: none;
	border: none;
}

.blogSidebar .printBtn img {
	max-width: 100%;
}

.related {
	background: #fff;
	padding: 15px 10px;
	box-sizing: border-box;
	margin: 15px 0;
}

.related h2 {
	color: #152c53;
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 1em;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #152c53;
	line-height: 1.4em;
}

.related ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.related ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
}

.related ul a {
	color: #152c53;
	text-decoration: none;
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: .9em;
	line-height: 1.2em;
	width: 100%;
	padding: 5px 10px;
	box-sizing: border-box;
	display: block;
	-webkit-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
}

.related ul a:hover {
	background: #e7ecf1;
}

.authorInfo {
	float: right;
	width: 100%;
	background: #152c53;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.25);
}

.authorInfo .thumbnail {
	width: 100%;
	height: auto;
}

.authorInfo .thumbnail img {
	max-width: 100%;
	display: block;
}

.authorInfo .contactInfo {
	display: block;
	margin: 0 0 5px 0;
}

.authorInfo .contactInfo .name {
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 1.3em;
	margin: 10px 0 5px 0;
	color: #fff;
}

.authorInfo .contactInfo a {
	font-family: "Gotham A", "Gotham B", Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	text-decoration: none;
	font-size: .9em;
	margin: 0 0 5px 0;
	line-height: 1em;
	position: relative;
	padding: 0 0 0 30px;
	width: 100%;
	height: 20px;
	line-height: 20px;
	display: block;
	color: #fff;
}

.authorInfo .contactInfo a:before {
	content: '';
	height: 20px;
	width: 14px;
	background: blue;
	position: absolute;
	top: 0;
	left: 6px;
}

.authorInfo .contactInfo a.bio:before {
	background: url("../images/file.svg") no-repeat;
	background-position: center center;
	background-size: contain;
}

.authorInfo .contactInfo a.email:before {
	background: url("../images/envelope.svg") no-repeat;
	background-position: center center;
	background-size: contain;
}

@media only screen and (max-width: 1140px) {

	#banner-container.blog .center {
		width: 100%;
		padding: 0 1.5%;
		box-sizing: border-box;
	}

	#banner-container.blog .intro h1 {
		width: 45%;
	}

	#banner-container.blog .intro p {
		width: 55%;
	}
}

@media only screen and (max-width: 960px) {

	#banner-container.blog .categories a {
		width: 28%;
		height: 230px;
	}

	#banner-container.blog.archive {
		height: 410px;
	}

	#banner-container.blog.archive .categories a {
		height: 200px;
	}

	#banner-container.blog.single h1,
#banner-container.blog.single a {
		margin-left: 71%;
	}

	.post-single {
		width: 69%;
	}

	.blogSidebar {
		width: 28%;
	}
}

@media only screen and (max-width: 760px) {

	#banner-container.blog {
		height: 360px;
	}

	#banner-container.blog .intro h1 {
		font-size: 1.6em;
		width: 40%;
	}

	#banner-container.blog .intro p {
		width: 60%;
		font-size: .85em;
	}

	#banner-container.blog .categories a {
		height: 210px;
	}

	#banner-container.blog .categories a span {
		top: 52%;
		font-size: 1.3em;
	}

	#banner-container.blog.single h1,
#banner-container.blog.single a {
		margin-left: 69%;
	}

	.post-single {
		width: 66%;
	}

	.blogSidebar {
		width: 31%;
	}
}

@media only screen and (max-width: 700px) {

	#banner-container.blog {
		height: 400px;
	}

	#banner-container.blog .center {
		padding: 0 2%;
	}

	#banner-container.blog .intro h1 {
		width: 100%;
		font-size: 1.8em;
		margin-bottom: 5px;
	}

	#banner-container.blog .intro p {
		width: 100%;
		text-align: left;
		display: block;
		font-size: .95em;
	}

	#banner-container.blog .intro {
		padding-bottom: 10px;
	}

	#banner-container.blog .categories {
		padding: 0 2%;
		box-sizing: border-box;
	}

	#banner-container.blog .categories a {
		width: 96%;
		padding: 0;
		height: 60px !important;
		margin: 0 0 14px 0;
		text-align: left;
		background: rgba(255, 255, 255, 0.7);
		color: #212C48;
		font-size: .8em;
	}

	#banner-container.blog .categories a:hover {
		background: rgba(255, 255, 255, 0.7);
		color: #212C48;
	}

	#banner-container.blog .categories a svg {
		display: inline-block;
		width: auto;
		max-width: 18%;
		float: left;
		padding: 0;
		margin: 8px 8px 0 5px;
		max-height: 76%;
	}

	#banner-container.blog .categories a svg * {
		fill: #212C48;
	}

	#banner-container.blog .categories a span {
		font-size: 1.3em;
		position: relative;
		top: auto;
		left: auto;
		padding: 0;
		height: 60px;
		line-height: 62px;
	}

	#banner-container.blog.archive {
		height: 440px;
	}

	#banner-container.blog.archive .all {
		text-align: left;
		padding-left: 4%;
		margin-top: 12px;
	}

	#banner-container.blog.archive .all a,
#banner-container.blog.archive .all a:hover {
		background: rgba(255, 255, 255, 0.75);
		color: #212C48;
	}

	.posts .post-item {
		width: 94%;
		margin-left: 3%;
	}

	.posts .post-item .image {
		width: 100%;
		margin: 0 0 10px 0 !important;
	}

	.posts .post-item .image a:hover {
		background: none;
	}

	.posts .post-item .text .excerpt a.readMore {
		padding: 14px 16px;
	}

	.pagination {
		width: 90%;
	}

	#banner-container.blog.single h1,
#banner-container.blog.single a {
		margin-left: 3%;
		width: 94%;
	}

	.post-single {
		width: 100%;
	}

	.post-single .featuredImage {
		margin: 15px 0;
		height: 200px;
	}

	.blogSidebar {
		width: 100%;
	}
}

@media print {

	body {
		background: #fff;
	}

	.printLogo {
		display: block;
	}

	.printLogo .border {
		height: 140px;
		width: 100%;
		display: block;
		margin: 0 0 10px 0;
		border-bottom: 3px solid #152c53;
		position: relative;
		background: #fff;
		float: left;
	}

	.printLogo .border h2 {
		position: absolute;
		bottom: -1px;
		right: 0;
		font-family: "Gotham A", "Gotham B", Arial, sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 1.2em;
		text-transform: uppercase;
	}

	.printLogo .border img {
		max-width: 120px;
		margin: 0 0 0 1% !important;
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.printAuthor {
		display: block;
		font-style: italic !important;
		font-size: 14px !important;
		margin-top: 1px;
	}

	.wrapper {
		margin: 0 1% !important;
		width: 98%;
	}

	nav#main-nav,
.header-container,
.footer-container,
.featuredImage,
.tags,
.blogSidebar,
p.date,
iframe {
		display: none !important;
	}

	#banner-container.blog {
		display: none !important;
	}

	.post-single {
		width: 100%;
	}

/*
  	.blogSidebar {
  		width: 100%;
  		float: left;
  	}
  
  	.authorInfo {
  		background:#fff;
  		box-shadow: none;
  		float: left;
  		width: 100%;
  		
  		& * {
  			color:$darkBlue !important;
  		}
  		
  		a.bio {
  			display: none !important;
  		}
  		
  		
  		a.email {
  			padding-left:0;
  			position: relative;
  			font-size: 1px;
  			line-height: 3em;
  			color:#fff;
  			
  			&:before {
  				display: none;	
  			}
  			
  			&:after {
  				content:attr(data-email);
  				width: 100%;
  				clear:both;
  				display: block;
  				word-break: break-all;
  				font-size: 12px;
  				font-weight: 300;
  				color:$darkBlue !important;
  			}
  		}
  		
  		.postAuthor {
  			display: inline-block;
  			float: left;
  			width: auto;
  			max-width: 40%;
  			
  			&:first-child {
  				margin-right:4%;
  			}
  		}
  	}
  	*/

	h2.share,
.addthis_sharing_toolbox {
		display: none !important;
	}
}

