/* blog */
.group:after {
	content: "";
	display: block;
	clear: both;
}

#banner-container.blog {
	height: 400px;
	width: 100%;
	display: block;
	background: url("../images/header-bg-2.jpg") no-repeat;
	background-size: cover;
	background-position: center bottom;
}

#banner-container.blog .center {
	width: 1100px;
	height: 100%;
	display: block;
	margin: 0 auto;
}

#banner-container.blog .intro {
	padding: 30px 0 12px 0;
	position: relative;
	border-bottom: 2px solid #fff;
	width: 96%;
	margin: 0 2%;
}

#banner-container.blog .intro h1 {
	width: 45%;
	display: inline-block;
	margin: 0;
	text-align: left;
	color: #fff;
	text-transform: uppercase;
	font-size: 2em;
	line-height: 1em;
	font-family: "Gotham A", "Gotham B", sans-serif;
	font-style: normal;
	font-weight: 700;
}

#banner-container.blog .intro p {
	float: right;
	width: 55%;
	color: #fff;
	text-align: right;
	font-size: .9em;
	line-height: 1.25em;
	margin: 0;
	font-family: "Gotham A", "Gotham B", sans-serif;
	font-style: normal;
	font-weight: 400;
}

#banner-container.blog .categories {
	text-align: center;
	display: block;
	width: 100%;
	height: auto;
	margin: 25px 0 0 0;
}

#banner-container.blog .categories a {
	width: 29%;
	height: 240px;
	margin: 0 2%;
	padding: 4%;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.15);
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-family: "Gotham A", "Gotham B", sans-serif;
	font-style: normal;
	font-weight: 700;
	position: relative;
	-webkit-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
	border-radius: 2px;
}

#banner-container.blog .categories a svg {
	max-height: 40%;
	padding: 8% 0 0 0;
	-webkit-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
}

#banner-container.blog .categories a svg * {
	-webkit-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
}

#banner-container.blog .categories a span {
	display: block;
	width: 100%;
	padding: 20px 15% 0 15%;
	box-sizing: border-box;
	font-size: 1.5em;
	position: absolute;
	top: 50%;
	left: 0;
	line-height: 1.2em;
}

#banner-container.blog .categories a:hover {
	background: rgba(255, 255, 255, 0.6);
	color: #212C48;
}

#banner-container.blog .categories a:hover svg * {
	fill: #212C48;
}

.posts {
	width: 100%;
	display: block;
	padding: 40px 0;
}

.posts .post-item {
	display: block;
	width: 100%;
	margin: 0 0 60px 0;
}

.posts .post-item .image {
	float: left;
	width: 40%;
	height: 260px;
	background: #999;
	margin: 0 2.5% 0 0;
	box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.4);
	background-position: center center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

.posts .post-item .image a {
	display: block;
	height: 100%;
	width: 100%;
	background: transparent;
	-webkit-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
}

.posts .post-item .image a:hover {
	background: rgba(255, 255, 255, 0.2);
}

.posts .post-item .text {
	padding-top: 20px;
}

.posts .post-item .text h2 {
	display: block;
	font-size: 1.3em;
	line-height: 1em;
	margin: 0;
	font-family: "Gotham A", "Gotham B", sans-serif;
	font-style: normal;
	font-weight: 700;
}

.posts .post-item .text h2 a {
	color: #152c53;
	text-decoration: none;
	text-transform: uppercase;
	font-family: sans-serif;
	margin-bottom:0;
	font-family: "Gotham A", "Gotham B", sans-serif;
	font-style: normal;
	font-weight: 700;
}

.posts .post-item .text .subtext {
	display: block;
	color: #6587a7;
	font-family: sans-serif;
	margin: 0 0 10px 0;
	font-family: "Gotham A", "Gotham B", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: .9em;
	padding:0;
}

.posts .post-item .text .subtext a {
	color: #6587a7;
	text-decoration: none;
	font-weight: bold;
}

.posts .post-item .text .excerpt {
	display: block;
}

.posts .post-item .text .excerpt p {
	color: #152c53;
	font-family: sans-serif;
	font-size: .95em;
	line-height: 1.4em;
	margin-bottom: 15px;
	font-family: "Gotham A", "Gotham B", sans-serif;
	font-style: normal;
	font-weight: 400;
}

.posts .post-item .text .excerpt a.readMore {
	background: #152c53;
	color: #fff;
	padding: 6px 10px;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bold;
	-webkit-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
	margin: 5px 0 0 0;
	display: inline-block;
	font-size: .9em;
}

.posts .post-item .text .excerpt a.readMore:hover {
	background: #10213f;
}


.posts .post-item:nth-child(even) .image {
	float: right;
	margin: 0 0 0 2.5%;
}

.pagination {
	text-align: center;
	display: block;
	height: 50px;
	width: 50%;
	margin: 0 auto;
	font-family: sans-serif !important;
}

.pagination span:first-child {
	width: 100%;
	display: block;
	border-bottom: 1px solid #6587a7;
	margin: 0 0 8px 0;
	padding: 0 0 8px 0;
	font-style: italic;
	font-size: .9em;
}

.pagination a,
.pagination span.current {
	display: inline-block;
	width: 28px;
	height: 28px;
	text-align: center;
	line-height: 29px;
	font-size: .9em;
	background: #6587a7;
	margin:0 3px;
	color: #fff;
	text-decoration: none;
	-webkit-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
	overflow: hidden;
	font-family: "Gotham A", "Gotham B", sans-serif;
	font-style: normal;
	font-weight: 400;
}

.pagination span.current {
	background: #152c53;
}

.pagination a:hover {
	background: #4f6d8a;
	text-decoration: none;
}

.pagination a.pagePrev {
	text-indent: -9999px;
	position: relative;
}

.pagination a.pagePrev:before {
	display: block;
	content: '';
	width: 80%;
	height: 80%;
	background: url("../images/chevron-left.svg") no-repeat;
	position: absolute;
	top: 10%;
	left: 10%;
}

.pagination a.pageNext {
	text-indent: 9999px;
	position: relative;
}

.pagination a.pageNext:before {
	display: block;
	content: '';
	width: 80%;
	height: 80%;
	background: url("../images/chevron-right.svg") no-repeat;
	position: absolute;
	top: 10%;
	left: 10%;
}

#banner-container.blog.single {
	height: 160px;
	width: 100%;
	display: block;
	background: url("../webimages/header-bg-2.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: right;
}

#banner-container.blog.single .center {
	text-align: left;
	overflow: hidden;
}

#banner-container.blog.single h1 {
	color: #fff;
	font-size: 1.6em;
	border-bottom: 1px solid #fff;
	width: 40%;
	display: inline-block;
	margin: 40px 0 10px 76%;
	padding: 10px 0;
	text-align: left;
}

#banner-container.blog.single a {
	color: #fff;
	text-decoration: none;
	margin: 0 0 0 76%;
	padding: 0;
}

.post-single {
	width: 74%;
	float: left;
}

.post-single .featuredImage {
	height: 380px;
	width: 100%;
	display: block;
	margin: -130px 0 15px 0;
	position: relative;
	z-index: 1000;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
	border: 5px solid #fff;
	box-sizing: border-box;
	box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.25);
}

.post-single h1 {
	font-size: 1.8em;
	line-height: 1.3em;
}

.post-single p.date {
	color: red;
	font-size: 1em;
}

.post-single p {
	margin-bottom: 15px;
	line-height: 1.35em;
}

.authorInfo {
	float: right;
	width: 23%;
	margin: 20px 0 0 0;
	background: #152c53;
	padding: 8px;
	box-sizing: border-box;
	box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.25);
}

.authorInfo .thumbnail {
	width: 100%;
	height: auto;
}

.authorInfo .thumbnail img {
	max-width: 100%;
	display: block;
}

@media only screen and (max-width: 1140px) {

	#banner-container.blog .center {
		width: 100%;
		padding: 0 1.5%;
		box-sizing: border-box;
	}

	#banner-container.blog .intro h1 {
		width: 45%;
	}

	#banner-container.blog .intro p {
		width: 55%;
	}
}

@media only screen and (max-width: 960px) {

	#banner-container.blog .categories a {
		width: 28%;
		height: 230px;
		font-size: .8em;
	}
}

@media only screen and (max-width: 760px) {

	#banner-container.blog {
		height: 360px;
	}

	#banner-container.blog .intro h1 {
		font-size: 1.6em;
		width: 40%;
	}

	#banner-container.blog .intro p {
		width: 60%;
		font-size: .85em;
	}
}

@media only screen and (max-width: 700px) {

	#banner-container.blog {
		height: 400px;
	}

	#banner-container.blog .center {
		padding: 0 2%;
	}

	#banner-container.blog .intro h1 {
		width: 100%;
		font-size: 1.8em;
	}

	#banner-container.blog .intro p {
		width: 100%;
		text-align: left;
		display: block;
		font-size: .95em;
	}

	#banner-container.blog .intro {
		padding-bottom: 10px;
	}

	#banner-container.blog .categories {
		padding: 0 2%;
		box-sizing: border-box;
	}

	#banner-container.blog .categories a {
		width: 96%;
		padding: 0;
		height: 60px;
		margin: 0 0 10px 0;
		text-align: left;
		background: rgba(255, 255, 255, 0.7);
		color: #212C48;
	}

	#banner-container.blog .categories a:hover {
		background: rgba(255, 255, 255, 0.7);
		color: #212C48;
	}

	#banner-container.blog .categories a svg {
		display: inline-block;
		width: auto;
		max-width: 18%;
		float: left;
		padding: 0;
		margin: 8px 0 0 0;
		max-height: 76%;
	}

	#banner-container.blog .categories a svg * {
		fill: #212C48;
	}

	#banner-container.blog .categories a span {
		font-size: 1.3em;
		position: relative;
		top: auto;
		left: auto;
		padding: 0;
		height: 60px;
		line-height: 62px;
	}

	.posts .post-item {
		width: 94%;
		margin-left: 3%;
	}

	.posts .post-item .image {
		width: 100%;
		margin: 0 0 10px 0 !important;
	}

	.posts .post-item .image a:hover {
		background: none;
	}

	.posts .post-item .text .excerpt a.readMore {
		padding: 14px 16px;
	}
}


/*
#banner-container.blog {
	position: relative;
	margin-bottom:30px;
}

.bannerText {
	position: absolute;
	top:28%;
	left:0;
	width: 100%;
	text-align: center;
	color:#fff;
	font-weight: bold;
	font-size: 3em;
	text-shadow: 0 1px 10px #111;
}

.posts {
	width: 68%;
	float: left;
}

.blogSidebar {
	width: 27%;
	padding:0;
	float: right;
	display: inline-block;
	margin:30px 0 0 0;
}

	.blogSidebar .widget {
		margin-bottom:30px;
		width: 100%;
	}
	
	.blogSidebar h4 {
		font-size: 1em;
		font-weight: bold;
		color:#002950;
		margin:0;
	}
	
	.blogSidebar p {
		margin:0;
	}
		
	.blogSidebar ul {
		list-style: none;
		padding:0 0 0 10px;
		margin:0;
	}
*/
	
	
	/* post categories */
/*
	.widget_lc_taxonomy {
		box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
		background: #fff;
	}
	
		.widget_lc_taxonomy ul {
			padding:0;
		}
	
		.widget_lc_taxonomy h4 {
			background:#6587A7;
			color:#fff;
			padding:5px 20px;
			margin:0 0 2px 0;
			width: 100%;
			box-sizing: border-box;
		}
		
		.widget_lc_taxonomy li {
			width: 100%;
			height: auto;
			display: block;
		}
		
		.widget_lc_taxonomy a {
			display: block;
			height: 100%;
			width: 100%;
			box-sizing: border-box;
			padding: 10px 20px 10px 25px;
			background:#002950;
			color:#fff;
			font-weight: bold;
			margin-bottom:2px;
			text-decoration: none;
			transition:.2s all ease-in-out;
		}
		
			.widget_lc_taxonomy a:hover {
				background:#001d39;
			}
		
*/
		
	
	
	/* recent entries */
/*
	.blogSidebar .widget_recent_entries {
		padding:20px;
		width: 100%;
		box-sizing: border-box;
		box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
		background:#fff;
	}
			
		.blogSidebar .widget_recent_entries li {
			display: block;
			margin-bottom:5px;
		}
		
		.blogSidebar .widget_recent_entries a {
			font-weight: bold;
			color:#6587a7;
			transition:.2s all ease-in-out;
			border-bottom:2px solid transparent;	
			text-decoration: none;
		}
		
		.blogSidebar .widget_recent_entries a:hover {
			color: #002950;
				border-bottom:2px solid #002950;
		}
*/
	

/*
.authorInfo {
	display: block;
	margin:0 !important;
	background:#fff;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

	.authorInfo .contactInfo {
		box-sizing: border-box;
		padding:5px 20px 0 20px;
		display: block;
		height: auto;
	}

	.authorInfo h2 {
		margin:0 0 4px 0;
		font-size: 1.2em;
	}
	
	.authorInfo h3 {
		margin:15px 0 0 0;
		font-size: 1em;
		font-family: 'Lato', sans-serif;
	}
	
	.authorInfo .thumbnail {
		width: 100%;
		display: block;
		border:3px solid #6587a7; 
		margin:0 0 10px 0 !important;
		min-width: 100%;
		box-sizing: border-box;
	}
	
		.authorInfo .thumbnail img {
			width: 100%;
			display: block;
		}
	
	.authorInfo p {
		margin:0;
		display: block;
	}
	
		.authorInfo p.name {
			font-weight: bold;
			color:#002950;
			font-size: 1.1em;
		}
	
	.authorInfo a {
		text-decoration: none;
		color:#6587a7;
		transition:.2s all ease-in-out;
		border-bottom:2px solid transparent;
	}
	
		.authorInfo a:hover {
			color: #002950;
			border-bottom:2px solid #002950;
		}

.pagination {
  clear:both;
  position:relative;
  font-size:.9em;
  line-height:13px;
  float:left;
  margin:20px 0;
}
 
	.pagination span, .pagination a {
		display:block;
		float:left;
		margin: 2px 2px 2px 0;
		padding:10px 12px 9px 12px;
		text-decoration:none;
		width:auto;
		color:#fff;
		background: #6587a7; 
		transition: background .2s ease-in-out;
	}
 
	.pagination a:hover { 
    color:#fff;
    background: #002950;
    text-decoration: none;
	}
 
	.pagination .current {
    background: #002950; 
    color:#fff;
	}
	
	
	.post {
		display: block;
		margin-bottom:40px;
		width: 100%;
	}
	
		.post:after {
			content:'';
			width: 100%;
			display: table;
			clear:both;
		}
	
		.post h2 {
			margin:0 0 10px 0;
		}
		
		.post p.date {
			margin:0;
			padding:0;
			font-style: italic;
			font-size: .8em;
		}
		
	
	a.excerpt-read-more {
		display: none;
	}
	
	
	.categoryHeader {
		margin-top:-10px;
	}
	
		.categoryHeader p strong {
			color:#002b54;
		}
*/
	
	
/*
	a.readMore {
		display: block;
		background:#6587a7;
		float: left;
		color:#fff;
		text-decoration: none;
		padding:3px 7px;
		font-size: .8em;
		margin:10px 0 0 0;
		transition: background .2s ease-in-out;
	}
	
		a.readMore:hover {
			background: #002950;
			text-decoration: none;
		}
*/
		
	
/*
	.thumbnail {
		float: left;
		display: block;
		max-width: 200px;
	}
	
		.thumbnail .thumbnail-wrapper {
			padding:0 10px 10px 0;
			display: block;
			width:94%;
			height: auto;
			float: left;
		}
	
		.thumbnail-wrapper img {
			max-width: 100%;
			display: block;
			border:4px solid #fff;
			box-shadow: -2px 2px 4px rgba(0,0,0,0.05);
			box-sizing: border-box;
		}
*/
		
/*
	.post-single {
		width: 68%;
		float: left;
	}
	
		.post-single h1 {
			margin:20px 0 0 0;
			padding:0;
		}
		
		.post-single .date {
			margin:0 0 20px 0;
			padding:0;
			font-style: italic;
			font-size: .8em;
		}
				
		.post-single span.s1 img {
			float: left;
			display: block;
			margin:0 15px 10px 0;
		}
		
		.post-single img {
			border:5px solid #fff;
			box-shadow: -2px 2px 4px rgba(0,0,0,0.05);
		}
		
		.post-single img.alignleft {
			float: left;
			margin:0 15px 5px 0;
		}
		
		.post-single .tags {
			margin:30px 0 30px 0;
			display: block;
		}
		
			.post-single .tags h3 {
				margin-bottom:0;
				line-height: 1em;
			}
			
		.post-single iframe {
			max-width: 100%;
		}
*/
	
	
	
/* comments */	
/*
.comment-respond {
	display: block;
	width: 100%;
	margin-top:40px;
}

	.comment-respond h3 {
		margin-bottom:0;
		line-height: 1em;
	}

	.comment-respond label {
		display: block;
		width: 100%;
		font-size: .9em;
		font-weight: bold;
	}
	
	.comment-respond input[type="text"],
	.comment-respond textarea {
		width: 60%;
		border:1px solid #b3b3b3;
		outline: none;
		transition:.2s all ease-in-out;
	}
	
	.comment-respond input[type="text"] {
		height: 30px;
		padding:0 1.5%;
	}
	
	.comment-respond textarea {
		padding:1.5%;
	}
	
	.comment-respond input[type="text"]:focus,
	.comment-respond textarea:focus {
		border-color:#002950;
	}
	
	.comment-respond input[type="submit"] {
		background:#6587a7;
		display: inline-block;
		padding:8px 10px;
		color:#fff;
		cursor: pointer;
		transition: .2s all ease-in-out;
		outline: none;
		border:none;
	}
	
		.comment-respond input[type="submit"]:hover {
			background: #002950;
		}
	
	.comment-respond span.required {
		margin-left:-3px;
	}
*/
	
	
/* videos */
/*
.videoMain {
	width: 70%;
	height: 400px;
	background:#000;
	display: block;
	margin:0 auto 30px auto;
	box-shadow: -2px 2px 5px rgba(0,0,0,0.25);
}

	.videoMain iframe {
		width: 100%;
		height: 100%;
		display: block;
	}
	
	.videoMain .inner {
		display: block;
		width: 100%;
		height: 100%;
	}

.videoThumb {
	width: 29.3333%;
	height: auto;
	display: block;
	margin:10px 2% 20px 2%;
	float: left;
	position: relative;
	transition:.2s all linear;
	cursor: pointer;
}

	.videoThumb .videoImage {
		display: block;
		height: auto;
		width: 100%;
		background:#111;
	}
	
		.videoThumb .videoImage img {
			max-width: 100%;
			display: block;
			transition:.2s all linear;
			box-sizing: border-box;
			border:4px solid #E1E1E2;
			transition:.2s all linear;
		}
		
	.videoThumb .videoImage img:hover  {
		opacity: 0.6;
	}

	.videoThumb p {
		display: block;
		width: 100%;
		color:#002950;
		font-weight: bold;
		margin:5px 0 0 0;
	}
	
	.videoThumb.selected .videoImage img {
		border-color:#002950;
		box-shadow: -2px 2px 5px rgba(0,0,0,0.25);
		opacity: 1 !important;
	}
	
	.videoThumb.selected {
		cursor: default;
	}
	
	
@media only screen and (max-width : 990px) {
	.post-single {
		width: 62%;
	}
	
	.blogSidebar {
		width: 35%;
	}
}
	


@media only screen and (max-width : 770px) {
	.post-single {
		width: 58%;
	}
	
	.blogSidebar {
		width: 39%;
	}
}



@media only screen and (max-width : 650px) {
	.post-single, .blogSidebar, .posts {
		width: 100%;
		display: block;
	}	
}
*/