/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #646464;
}

html {
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/* WORDPRESS CONTENT IMAGE RESPONSIVE FIX */
.entry-content img,
.comment-content img,
.widget img {
    max-width: 97.5%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"] {
    height: auto; /* Make sure images with WordPress-added height and width >attributes are scaled correctly */
}
img.size-full {
    max-width: 97.5%;
    width: auto; /* Prevent stretching of full-size images with height and >>width attributes in IE8 */
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    font: 16px/26px 'Lato', sans-serif;
    background: #e1e1e2; /* Old browsers */
    /* paste gradient code here */
    height: 100%;
}

body > .main-container {
    padding: 0 0 65px 0;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.header-container {
    height: auto;
}

.footer-container {
    background: #002950;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-bottom: -65px;
}

#footer-nav ul {
    margin: 0;
    padding: 0;
}

#footer-nav ul li {
    display: inline;
    list-style: none;
}

#footer-nav ul li a {
    font-size: .80em;
    padding: 0;
    color: #ffffff
}

#footer-nav ul li a {
    text-decoration: none;
}

#footer-nav ul li a:hover {
    text-decoration: underline;
}

#footer-nav li span {
    margin: 0 8px 0 8px;
}

.footer-container #disclosure a {
    text-decoration: none;
    color: #fff;
}

.footer-container #disclosure a:hover {
    text-decoration: underline;
}

.footer-container #disclosure {
    font-size: .7em;
}

#social-links {
  color: #fff;
  font-size: .7em;
  position: relative;
  width: 160px;
  height: 25px;
  margin: 0;
}

#social-links #social-links-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 75px;
  height: 25px;
}

.footer-container .footer-left, .footer-container .footer-middle, .footer-container .footer-right {
    margin: 0 0 10px 0;
}

#social-link-linkedin {
  display: block;
  float: left;
  text-indent: -9999px;
  margin: 0 20px 0 0;
  width: 26px;
  height: 25px;
  background: url(../img/social-icons.png) 0 0 no-repeat;
}

#social-link-twitter {
  display: block;
  float: left;
  text-indent: -9999px;
  width: 29px;
  height: 25px;
  background: url(../img/social-icons.png) -46px 0 no-repeat;
}

.home-sub-nav {
    background: #002950;
}

.title {
    width: 250px;
    height: 59px;
    background: url(../img/logo-mobile.png) no-repeat;
    float: none;
    margin: 20px auto;
}

.title a {
    width: 250px;
    height: 59px;
    text-indent: -9999px;
    display: block;
}

/* IMAGE MAPPER */
#financial-widget {
  margin: 0 auto;
  position:relative;
  width:824px;
  height:579px;
  background-color:#e1e1e2;
}
#text-container {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 290px;
  height: 290px;
  z-index: 100;
}
#text {
  color: #ffffff;
  font-family: 'Lato';
  font-weight: 300;
  font-size: 20px;
  padding: 0 40px;
}
#text p {
  text-align: center;
}
#text p, #text ul {
  margin: 0;
}
/*#news-feature a {
    color: #404040;
}*/
/* SERVICES MENU */
.services-nav {
 border-top: 1px solid #cccccc;
}
.services-nav nav li {
  position: relative;
}
/*.services-nav nav li a {
  color: #666666;
  width: 25%;
  padding: 20px 0;
  font-family: 'Cinzel',serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1em;
}*/
.services-nav nav li a {
  color: #666666;
  width: 100%;
  padding: 20px 0;
  font-family: 'Cinzel',serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1em;
  float: none;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
}

#main-nav ul {
    margin: 0;
    padding: 0;
}

#main-nav ul#mobile-menu  {
   margin-bottom: 10px;
}

#main-nav a {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
}

#main-nav #mobile-menu a {
    margin-bottom: 0;
}

nav a:hover {
    text-decoration: underline;
}

#main-nav a {
    color: #fff;
}

#main-nav a:hover {
    color: #fff;
}

#main-nav a:hover {
    /*text-decoration: underline;*/
}

nav#utility-nav {
    display: none;
}

nav#utility-nav a {
    display: none;
    color: #6587a7;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   custom styles
   ========================================================================== */

/* FOR HOME BANNER */
#home-gallery-wrapper {
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#home-gallery-wrapper img {
    max-width: 100%;
    width: 100%;
}
/* these styles for the plugin make banner go back to 100% page width */
.cycle-slide {
    max-width: 100%;
    width: 100%;
    position: relative;
}

.cycle-slide img {
    max-width: 100%;
    width: 100%;
}

.home-banner-overlay {
  background: none;
  width: 100%;
  text-align: center;
}

.home-banner-overlay-text {
  background: none;
  line-height: 1em;
  font-family: 'Cinzel',serif;
  font-weight: 400;
  font-size: 30px;
  padding: 30px;
}

.home-banner-overlay .color-dark {
  color: #002b54;
}

.home-banner-overlay .color-light {
  color: #6587a7;
}

/* FOR SUB BANNERS */

#banner-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

/* WARNING, position: relative; CAN MESS UP DROPDOWNS. FIX WITH z-index 99???? */
/*#banner-container img {
  position: relative; 
  max-height: 100%;
  left: -1080px;
}*/

#banner-container img {
  max-width: 100%;
  width: 100%;
}

#banner-container img.banner-full {
  display: none;
}
#banner-container img.banner-mobile {
  display: block;
}

#main-nav a#mobile-trigger {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}

@media (min-width: 480px) {
  #banner-container img {
    top: 0;
    left: 0;
    max-height: none;
    width: 100%;
  }
  #banner-container img.banner-full {
    display: block;
  }
  #banner-container img.banner-mobile {
    display: none;
  }
  #main-nav a#mobile-trigger {
    display: none;
  }
}

.header-container header {
    font-family: 'Cinzel', serif;
    font-weight: 400;
}

.gray-border {
    border-top: 1px solid #646464;
    border-bottom: 1px solid #646464;
}

h1, h2, h3 {
    font-family: 'Cinzel',serif;
    font-weight: 700;
    color: #002b54;
}

.box {
   float: left;
   position: relative;
   width: 25%;
   padding-bottom: 25%;
}

.box.bod {
   float: left;
   position: relative;
   width: 33.3%;
   padding-bottom: 33.3%;
}

.whitepaper {
   float: left;
   position: relative;
   padding: 0 0 40px 0;
   width: 100%;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.whitepaper img {
   float: left;
   margin: 0 20px 0 0;
   width: 150px;
   border: 2px solid #002b54;
}

.whitepaper h3 {
  /*font-size: 18px;*/
  font-weight: bold;
}

.whitepaper a {
  color: #404040;
  text-decoration: none;
}

.whitepaper-inside {
  overflow: hidden;
  padding: 0 10px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.boxInner {
   position: absolute;
   left: 10px;
   right: 10px;
   top: 10px;
   /*bottom: 10px;
   border: 1px solid;*/
}

.boxInner img {
   width: 100%;
}

.boxInner .titleBox {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   /*margin-bottom: 20px;*/ /* -50px */
   /*background: #000;
   background: rgba(0, 0, 0, 0.5);*/
   background: url(../img/bg-headshot-gradient.png) repeat-x;
   color: #FFF;
   padding: 10px;
   text-align: left;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
   font-size: .85em;
   line-height: 1.3em;

}

body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
   margin-bottom: 0;
}

/* NEWS GRID */
.news-box {
    text-align: center;
    padding-bottom: 20px;
    overflow: visible;
}

.news-box h3 {
/*    padding: 0;
    margin: 0 0 10px 0;*/
    min-height: 50px;
    /*line-height: 1.2em;*/
}

#news-feature a.choose-files {
    display: block;
    margin: 0 auto 20px auto;
    text-decoration: none;
    /*color: #002b54;*/
    color: #ffffff;
    background-color: #002b54;
    border-radius: 5px;
    padding: 10px;
    line-height: 1em;
    width: 200px;
}

.news-button a {
    display: block;
    margin: 0 auto 20px auto;
    text-decoration: none;
    color: #ffffff;
    background-color: #002b54;
    border-radius: 5px;
    padding: 10px;
    line-height: 1em;
    width: 200px;
    text-align: center;
}

.download-box a {
    display: block;
    margin: 0 auto 20px auto;
    text-decoration: none;
    /*color: #002b54;*/
    color: #ffffff;
    background-color: #002b54;
    border-radius: 5px;
    padding: 10px;
    line-height: 1em;
    width: 200px;
}

.downloads-box {
  margin-bottom: 20px;
}

.news-box a:hover {
    text-decoration: underline;
}

.news-button {
  /*background-color: #002b54;
  border-radius: 5px;*/
  margin-bottom: 20px;
}

.border-top {
   border-top: 1px solid #002b54;
}

.border-bottom {
   border-bottom: 1px solid #002b54;
}

.news-date {
    margin: 10px 0;
}

#news-feature {
    text-align: center;
    border-top: 1px solid #002b54;
    /*border-bottom: 1px solid #002b54;*/
    margin: 0 0 20px 0;
    padding-top: 40px;
    /*padding-bottom: 40px;*/
}

#news-feature h2 {
    font-size: 1.5em;
    line-height: 1em;
    margin: 10px 0 10px 0;
    padding: 0;
}

#news-blurb {
    padding: 0;
    margin-bottom: 40px;
}

#news-blurb. .news-button a {
    /*color: #002b54;*/
    color: #ffffff;
    text-decoration: none;
}

#news-blurb p {
    margin: 0 0 20px 0;
}

#news-blurb a:hover {
    text-decoration: underline;
}

#news-pagination {
    text-align: center;
    margin-top: 40px;
}

#news-pagination a {
    /*font-size: .85em*/
    color: #002b54;
    text-decoration: none;
}

#news-pagination a:hover {
    text-decoration: underline;
}

a.news-back {
    display: block;
    background: #526e88;
    color: #ffffff;
    text-decoration: none;
    padding: 2px 20px 3px 20px;
    width: 150px;
}

a.news-back:hover {
    text-decoration: underline;
}

#news-title {
    margin: 20px auto;
    text-align: center;
    border-top: 1px solid #002b54;
    border-bottom: 1px solid #002b54;
    width: 50%;
}

/* BIO DETAIL SECTION */
#bio-image {

}
#bio-image img {
    max-width: 100%;
    margin: 0 0 10px 0;
}
#bio-image a {
    display: block;
    background: #526e88;
    color: #ffffff;
    text-decoration: none;
    padding: 2px 20px 3px 20px;
    margin-bottom: 10px;
}
#full-name {
    font-size: 1.45em;
}
#title {
    font-style: italic;
}
#bio a {
    color: #404040;
    text-decoration: none;
}

#bio a:hover {
    text-decoration: underline;
}

#sub-nav-container .border1px {
        border-bottom: 1px solid #ffffff;
}

/* WHITEPAPERS */

.article a {
    color: #404040;
    text-decoration: none;
}

.article a:hover {
    text-decoration: underline;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width : 969px) {
   #sub-nav-container nav ul li {
        display: block;
        padding: 5px 0 5px 0;
    }

    #sub-nav-container .border1px {
        border-bottom: 1px solid #ffffff;
    }
}

/* PEOPLE GRID */
@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .box {
      width: 100%;
      padding-bottom: 100%;
   }
   .box.bod {
      width: 100%;
      padding-bottom: 100%;
   }
   #news-title {
      width: 100%;
   }
   #news-blurb a {
      text-decoration: none;
      clear: both;
      display: block;
   }
   .main-container h1:first-child {
      background: none repeat scroll 0 0 #526e88;
      color: #ffffff;
      padding: 10px 0 5px;
      text-align: center;
   }
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .box {
      width: 50%;
      padding-bottom: 50%;
   }
   .box.bod {
      width: 50%;
      padding-bottom: 50%;
   }
   #news-feature h2 {
    font-size: 2.15em;
    line-height: 1em;
    /*margin: 0;*/
    padding: 0;
   }
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .box {
      width: 33.3%;
      padding-bottom: 33.3%;
   }
   .box.bod {
      width: 33.3%;
      padding-bottom: 33.3%;
   }
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
   .box {
      width: 25%;
      padding-bottom: 25%;
   }
   .box.bod {
      width: 33.3%;
      padding-bottom: 33.3%;
   }
}

@media only screen and (min-width : 1291px) {
    #news-feature h2 {
      font-size: 3.8em;
      line-height: 1em;
      /*margin: 0;*/
      padding: 0;
    }
}

@media only screen and (max-width: 480px ) {
    #main-nav a {
        background: #002950;
        color: white;
    }

    #main-nav ul#mobile-menu a {
        color: #ffffff;
        padding: 10px;
    }

    #main-nav ul#mobile-menu ul a {
        background: #ffffff;
        color: #002950;
        font-family: 'Lato', sans-serif;
    }

    h1 {
        font-size: 1.1em;
    }

    a.news-back {
        display: block;
        background: #526e88;
        color: #ffffff;
        text-decoration: none;
        padding: 2px 20px 3px 20px;
        width: 90%;
    }
}
/* ====================
    LAYOUT
   ==================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        margin-bottom: 0;
    }

    #main-nav a {
        float: left;
        margin-bottom: 0;
    }

    nav#utility-nav {
       display: block;
       margin: 0;
    }

    #main-nav {
       margin: 40px auto 20px auto;
    }

    nav#utility-nav a {
        display: block;
        color: #6587a7;
        font-weight: 600;
    }

    #main a {
        color: #6587a7;
    }

    #main-nav ul.main-nav-sub a {
        color: #ffffff;
    }

    #main-nav a:hover {
        color: #1e3d60;
    }

    #main-nav ul.main-nav-sub a:hover {
        color: #ffffff;
    }

    .header-container {
        min-height: 180px !important;
    }

    .pad-left {
        padding-left: 20px;
        border-left: 1px solid #6587a7;
    }

    .pad-right {
        padding-right: 20px;
    }

    nav#utility-nav {
        float: none;
        width: 420px;
        height: 22px;
        margin: 40px auto 0 auto;
    }

    nav#utility-nav li a {
        line-height: 22px;
        font-size: 14px;
    }

    nav#utility-nav li.nav-client-login a {
        background: url(../img/icon-login.png) no-repeat;
        background-position: left center;
        padding: 0 20px 0 20px;
    }

    nav#utility-nav li.nav-contact-us a {
        background: url(../img/icon-contact.png) no-repeat;
        background-position: left center;
        padding: 0 20px 0 22px;
    }

    nav#utility-nav li.nav-search input {
        border: none;
        padding-left: 25px;
        background: url(../img/icon-search.png) #fff no-repeat;
        background-position: 3px center;
        float: right;
        width: 120px;
        height: 22px;
    }

    #news-blurb {
        padding: 0 40px;
    }

    #news-feature h2 {
        font-size: 2.00em;
        line-height: 1em;
        /*margin: 0;*/
        padding: 0;
    }

    #news-blurb p {
        margin: 10px 50px 40px 50px;
    }
/* ========================
    BLOG
   ======================== */
   
   h4 {
	   font: 16px/26px 'Lato', sans-serif;
	   color:#646464;
   }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    #main-nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 600px) {
    .footer-container .footer-left, .footer-container .footer-middle, .footer-container .footer-right {
        margin: 0;
        float: left;
        width: 33.333%;
    }

    .footer-container #disclosure {
        text-align: right;
    }

    #social-links {
      margin: 0 auto;
    }

    .news-right {
       float: right;
       width: 49%;
       clear: right;
    }

    .news-left {
       float: left;
       margin-right: 10px;
       width: 49%;
       clear: left;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    /*.header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }*/

/* ============
    WIDE: Menu
   ============ */
   .whitepaper {
      width: 50%;
   }
    .title {
        float: left;
        width: 342px;
        height: 81px;
        background: url(../img/logo.png) no-repeat;
    }

    .title a {
        width: 342px;
        height: 81px;
        text-indent: -9999px;
        display: block;
    }

    nav#utility-nav {
        float: right;
        /*width: 38%;*/
        width: 420px;
        height: 22px;
    }

    nav#utility-nav {
       display: block;
       margin: 43px 0 0 0;
    }

    nav#utility-nav li a {
        line-height: 22px;
        font-size: 14px;
    }

    nav#utility-nav li.nav-client-login a {
        background: url(../img/icon-login.png) no-repeat;
        background-position: left center;
        padding: 0 20px 0 20px;
    }

    nav#utility-nav li.nav-contact-us a {
        background: url(../img/icon-contact.png) no-repeat;
        background-position: left center;
        padding: 0 20px 0 22px;
    }

    nav#utility-nav li.nav-search input {
        border: none;
        padding-left: 25px;
        background: url(../img/icon-search.png) #fff no-repeat;
        background-position: 3px center;
        float: right;
        width: 120px;
        height: 22px;
    }

    #main-nav {
        float: right;
        width: auto;
        height: 26px;
        text-align: center;
    }

    .header-container h1 {
        margin: 56px 0 0 0;
        padding: 0;
    }

    .nav-search ::-webkit-input-placeholder { font-size: 10pt; }
    .nav-search ::-moz-placeholder { font-size: 10pt; }
    .nav-search :-ms-input-placeholder { font-size: 10pt; }
    .nav-search input:-moz-placeholder { font-size: 10pt; }

    .pad-left {
        padding-left: 20px;
        border-left: 1px solid #6587a7;
    }

    .pad-right {
        padding-right: 20px;
    }

    #main-nav {
        float: left;
    }
    #main-nav {
       margin: 20px 0 20px 0;
    }

    nav#utility-nav {
        float: none;
        margin: 160px 0 0 20px;
    }

    .title {
        float: left;
        width: 342px;
        height: 81px;
        background: url(../img/logo.png) no-repeat;
    }

    #bio {
        float: right;
        width: 65.670103%; /* 657px; 67.731959% */
        padding: 0 1.030928% 0 1.030928%;
    }

    #bio-image {
        float: left;
        max-width: 32.268041%; /* 313 */
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 970px) {
    .services-nav nav li a {
      width: 25%;
      float: left;
    }
    
    /* HOME SUB NAV */
    .home-sub-nav .wrapper {
        width: 970px;
        margin: 0 auto;
        padding: 0;
    }

    .sub-nav .wrapper {
        width: 970px;
        margin: 0;
        padding: 0;
    }

    .home-sub-nav nav a {
        text-decoration: none;
        text-indent: -9999px;
        display: block;
        background-image: url(../img/bg-home-subnav.jpg);
    }

    .home-sub-nav nav a.sub-investment {
        width: 243px;
        height: 103px;
        background-position: 0 -103px;
    }

    .home-sub-nav nav a.sub-investment:hover {
        width: 243px;
        height: 103px;
        background-position: 0 0;
    }

    .home-sub-nav nav a.sub-advistory {
        width: 243px;
        height: 103px;
        background-position: -243px -103px;
    }

    .home-sub-nav nav a.sub-advistory:hover {
        width: 243px;
        height: 103px;
        background-position: -243px 0;
    }

    .home-sub-nav nav a.sub-trust {
        width: 243px;
        height: 103px;
        background-position: -486px -103px;
    }

    .home-sub-nav nav a.sub-trust:hover {
        width: 243px;
        height: 103px;
        background-position: -486px 0px;
    }

    .home-sub-nav nav a.sub-institutional {
        width: 241px;
        height: 103px;
        background-position: -729px -103px;
    }

    .home-sub-nav nav a.sub-institutional:hover {
        width: 241px;
        height: 103px;
        background-position: -729px 0px;
    }

    /* GENERAL SUB-NAV */
    .sub-nav .wrapper {
        width: 970px;
        margin: 0 auto;
        padding: 0;
    }

    .sub-nav nav a {
        text-decoration: none;
        text-indent: -9999px;
        display: block;
        background-image: url(../img/bg-subnav.jpg);
    }

    .sub-nav nav a.sub-investment {
        width: 243px;
        height: 103px;
        background-position: 0 -103px;
    }

    .sub-nav nav a.sub-investment:hover {
        width: 243px;
        height: 103px;
        background-position: 0 0;
    }

    .sub-nav nav a.sub-advistory {
        width: 243px;
        height: 103px;
        background-position: -243px -103px;
    }

    .sub-nav nav a.sub-advistory:hover {
        width: 243px;
        height: 103px;
        background-position: -243px 0;
    }

    .sub-nav nav a.sub-trust {
        width: 243px;
        height: 103px;
        background-position: -486px -103px;
    }

    .sub-nav nav a.sub-trust:hover {
        width: 243px;
        height: 103px;
        background-position: -486px 0px;
    }

    .sub-nav nav a.sub-institutional {
        width: 241px;
        height: 103px;
        background-position: -729px -103px;
    }

    .sub-nav nav a.sub-institutional:hover {
        width: 241px;
        height: 103px;
        background-position: -729px 0px;
    }

    .home-banner-overlay-text {
      position: relative;
      font-size: 52px;
      /*top: 65%;
      transform: translateY(-50%);
      height: 134px;
      line-height: 134px;
      font-family: 'Cinzel',serif;
      font-weight: 400;
      font-size: 52px;*/
      /*text-shadow: 1px 1px rgba(255, 255, 255, 0.3);*/
      /*padding: 0;*/
    }

}

/* make our subnav change to list */
@media only screen and (max-width: 970px) {
    .home-sub-nav nav a {
        display: block;
        /*margin-bottom: 10px;*/
        margin: 20px;
        text-align: center;
        text-decoration: none;
        color: white;
        float: none;
    }

    .home-sub-nav nav a:hover {
        text-decoration: underline;
    }

    .sub-nav nav a {
        display: block;
        margin-bottom: 10px;
        text-align: center;
        text-decoration: none;
        color: white;
        float: none;
    }

    .sub-nav nav a:hover {
        text-decoration: underline;
    }

    .sub-nav ul {
        background: #002950;
        overflow: hidden;
        padding: 20px 0 20px 0;
    }
}

@media only screen and (min-width: 1045px) {
    #main-nav {
        float: right;
    }
    #main-nav {
       margin: 53px 0 20px 0;
    }

    nav#utility-nav {
        float: right;
        margin: 43px 0 0 0;
        text-shadow: 1px 1px rgba(255, 255, 255, 0.3);
    }

    .title {
        float: left;
        width: 342px;
        height: 81px;
        background: url(../img/logo.png) no-repeat;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1010px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

    .home-banner-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .home-banner-overlay-text {
      background-color: rgba(255, 255, 255, .65);
      text-shadow: 1px 1px #e1e1e2;
    }
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1800px) {
  .home-banner-overlay {
      background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
      background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
      height: 50%;
  }
  .home-banner-overlay-text {
    display: block;
    background: none;
    width: 100%;
    height: 62px;
    position: absolute;
    bottom: 0;
    padding: 36px 0;
    margin: 0 0 36px 0;
    font-size: 62px;
    background: url(../img/bg-home-banner-lines.png);
    background-repeat: no-repeat;
    background-position: top center;
    text-shadow: 1px 1px rgba(255, 255, 255, .85);
  }
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   DROPDOWN & MOBILE MENU - NEEDS TO BE AT BOTTOM SO STYLES DON'T BREAK
   ========================================================================== */
 @media only screen and (min-width : 481px) and (max-width : 671px) {
    ul#menu li a {
      font-size: 12px;
    }
    ul#menu li a.pad-first, ul#menu li a.pad-left {
      padding-left: 10px;
    }
    ul#menu li a.pad-right {
      padding-right: 10px;
    }
 }
@media only screen and (min-width: 480px) {

            #menu {
                display: block;
            }

            #mobile-menu  {
                display: none;
            }

           ul#menu, ul#menu ul.main-nav-sub {
                padding:0;
                margin: 0;
            }

            ul#menu li, ul#menu ul.main-nav-sub li {
                list-style-type: none;
                display: inline-block;
            }

            /*Link Appearance*/
            .pad-first {
                padding-left: 20px;
            }

            ul#menu li a {
                text-decoration: none;
                color: #6587a7;
                font-weight: 600;
                display:inline-block;
                text-shadow: 1px 1px rgba(255, 255, 255, 0.4);
            }

            ul#menu li ul.main-nav-sub li a {
                text-decoration: none;
                color: #fff;
                display:inline-block;
                text-shadow: none;
            }

            /*Make the parent of sub-menu relative*/
            ul#menu li {
                position: relative;
            }

            /*sub menu*/
            ul#menu li ul.main-nav-sub {
                display: none; /* set to block from none for testing. makes dropdown appear without rolling over */
                position: absolute;
                top: 25px;
                left: 0; /* left: 2px */
                width: 103%; /* 100% */
                background-color: #002a52;
                font-size: .9em;
                font-family: 'Lato', sans-serif;
                z-index: 999; /* makes drop down appear over images */
            }

            ul#menu li ul.main-nav-sub li {
                width: 85%;
            }

            ul#menu li ul.main-nav-sub li:not(:last-child) {
                border-bottom: 1px solid #fff;
            }

            ul#menu li ul.main-nav-sub a {
                margin: 10px 0 10px 0;
                width: 100%;
            }

            ul#menu li ul.main-nav-sub a:hover {
                text-decoration: underline;
            }

            ul#menu li ul.main-nav-sub a {
              /*border-bottom: 1px solid #fff;*/
            }

            ul#menu li:hover ul.main-nav-sub {
                display:block;
            }

        }

        @media only screen and (max-width: 480px) {
            #menu {
                display: none;
            }

            #mobile-menu  {
                display: none;
            }

            .mobile-nav-sub {
                display: none;
            }

        }

        /* MORE MISC STYLES */
        .entry-content a {
                color: #002b54;
        }

/* NEWS HIDE/SHOW ETC */
.pdf-downloads {
  cursor: pointer;
  text-decoration: none;
  color: #002b54;
}

.pdf-downloads div.downloads-box a {
  color: #002b54;
}
.pdf-downloads .pdfs-closed {
  display: inline-block;
  width: 0; 
  height: 0; 
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  /*border-left: 5px solid #002b54;*/
  border-left: 5px solid #ffffff;
}
.pdf-downloads .pdfs-open {
  display: inline-block;
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  /*border-top: 5px solid #002b54;*/
  border-top: 5px solid #ffffff;
  vertical-align: text-bottom;
}
.pdf-downloads div.downloads-box {
  display:none; 
  padding: 10px;
  background-color: #eeeeee;
  border-radius: 10px;
}
.pdf-downloads div.downloads-box.open {display:block;}
.pdf-downloads div.downloads-box a {font-size: .78em;}
/*.pdf-downloads p {padding: 0; margin: 10px;}*/

#news-blurb .pdf-downloads {
  margin-top: 20px;
}

